DATABASE_URL="postgresql://postgres:postgres@db:5432/tripdiary?schema=public"

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=30d

MAIL_USER=
MAIL_PASS=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=
S3_ENDPOINT=

IMAGE_PROXY_BASE=https://image.trip.mengchen.xyz/

OPENAI_API_KEY=
OPENAI_API_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-3.5-turbo